<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.runfast.mybatis.mapper.PostMapper">

    <select id="findPostByPage" resultType="Post">
        select * from Post order by created_on desc
    </select>


</mapper>